.registration-form {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: #fff;
  text-align: center;
}

.registration-form h1 {
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
}

.form-input {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  gap: 20px; /* Gap between inputs */
}

.form-input input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.form-input input::placeholder {
  color: #fff; /* Placeholder text color */
}

.profile-picture-input {
  grid-column: span 2; /* Span across both columns */
  text-align: center; /* Center align */
}

.registration-form button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  background-color: #03e9f4;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.registration-form button:hover {
  background-color: #03e9f4;
  color: black;
}

.registration-form p {
  margin-top: 20px;
  text-align: center;
}

.error-message {
  color: #ff6347; /* Error message color */
}
