.order-details {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.order-details p {
  margin: 0;
  font-size: 1rem;
  color: #000;
}

.order-details span {
  font-size: 1rem;
  color: #000;
}
