.delivery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px;
  background-color: #ddd8d8;
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.delivery-item {
  flex: 1 1 calc(50% - 20px); /* Adjust the width of each item */
  box-sizing: border-box;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.delivery-item i {
  font-size: 2rem;
  margin-bottom: 10px;
}

.delivery-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.delivery-item p {
  font-size: 1rem;
  color: #666;
}

@media (max-width: 768px) {
  .delivery-container {
    margin: 20px; /* Adjust margin for smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .delivery-item {
    flex: 1 1 calc(100% - 20px); /* Full width for smaller screens */
    padding: 15px; /* Reduce padding on smaller screens */
  }
}

@media (max-width: 480px) {
  .delivery-item {
    padding: 10px; /* Reduce padding for very small screens */
  }

  .delivery-item h3 {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
  }

  .delivery-item p {
    font-size: 0.9rem; /* Adjust font size for smaller screens */
  }
}
