.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  display: none;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.carousel-slide.active {
  opacity: 1;
  display: block;
}

.carousel-slide img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  border-radius: 8px;
}

.carousel-caption {
  position: absolute;
  bottom: 20%;
  left: 20px;
  color: white;
  background-color: transparent; /* optional for better visibility */
  padding: 20px;
  border-radius: 8px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.carousel-caption.animate {
  bottom: 20%;
  opacity: 1;
  transform: translateY(0);
}

/* Shop button styles */
.shop-button {
  color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 5px 10px;
  border: none;
  font-weight: bold;
}

.shop-button a {
  color: black;
}

.shop-button:hover {
  color: white;
  background-color: black;
}

.shop-button a:hover {
  color: white;
  text-decoration: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  .carousel-content {
    width: 100%;
  }
  .carousel-caption {
    bottom: 10px;
    left: 10px;
    padding: 10px;
  }

  .shop-button {
    padding: 3px 6px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .carousel-caption {
    bottom: 5px;
    left: 5px;
    padding: 5px;
    font-size: 0.8rem;
  }

  .shop-button {
    padding: 2px 4px;
    font-size: 0.8rem;
  }
}
