/* Pagination controls styling */
.pagination-controls {
  display: flex;
  flex: wrap;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  background-color: rgb(6, 48, 77);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-button:hover {
  background-color: #0056b3;
}

.pagination-button:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

.pagination-info {
  display: flex;
  align-items: center;
  margin: 0 10px;
  font-size: 1rem;
}

/* Mobile responsive styles */
@media (max-width: 768px) {
  .pagination-controls {
    flex-wrap: wrap; /* Allow wrapping if needed */
    gap: 10px; /* Adjust spacing between buttons */
  }

  .pagination-button {
    padding: 8px 16px; /* Slightly smaller buttons */
    margin: 5px 0; /* Margin for vertical stacking if wrapped */
  }

  .pagination-info {
    font-size: 0.9rem; /* Slightly smaller font size */
    margin: 10px 0; /* Margin for spacing above and below */
  }
}

@media (max-width: 480px) {
  .pagination-controls {
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center-align buttons */
  }

  .pagination-button {
    width: 100%; /* Full width for buttons */
    padding: 12px; /* Increase padding for easier touch targets */
    margin: 5px 0; /* Margin between buttons */
  }

  .pagination-info {
    font-size: 0.8rem; /* Smaller font size for mobile */
    margin: 10px 0; /* Margin for spacing above and below */
    text-align: center; /* Center-align text */
  }
}
